In [0]:
import re

string =  "I, Erick, will one day be a succesful data scientist"
partern = "Erick"
partern2 = "analysis"
mo = re.match(partern2, string)
print(mo)

None

Match only search for the value parsered in the string at the start of the string only

In [0]:
ma = re.match(partern, string)
print(ma)

None

It return none because there is Erick is not at the start of the tring

In [0]:
new = "I"
nba =  re.match(new, string).group()
print(nba)

I

From this when we want to retrive data that is inside the string we need to use another method

In [0]:
string =  "I, Erick, will one day be a succesful data scientist"
partern = "one"
partern2 = "analysis"

#using the search method
mo = re.search(partern, string).group()
print(mo)

one

What if we have a repetion in our text

In [0]:
string =  "I, Erick, will one day be a succesful data scientist and a succesful person too"
partern = "succesful"

#using the search method
mo = re.search(partern, string)
print(mo)

<_sre.SRE_Match object; span=(28, 37), match='succesful'>

You can see that tis is not a good way to do it

In [0]:
# were are going to use the find method
string =  "I, Erick, will one day be a succesful data scientist and a succesful person too"
partern = "succesful"

#using the search method
mo = re.findall(partern, string)
print(mo)

#Now this is fine

['succesful', 'succesful']

In [0]:
#To return the idexces of the repeated values we use finditer

mo = re.finditer(partern, string)
print(mo)

#geting the cleaner version of finditer
for m in mo:
  print(m.start())

<callable_iterator object at 0x7f54de4e39b0>
28
59

In [0]:
string =  "Bill was born on 10-09-1992 and was admited to highschool on 02-01-2000"
partern = "\d{2}-\d{2}-\d{4}"

mo = re.findall(partern, string)
print(mo)

['10-09-1992', '02-01-2000']

I we want to change a the date like string to monday

In [0]:
print(re.sub(partern,"monday", string))

Bill was born on monday and was admited to highschool on monday